[submodule "vendor/svgl"]
	path = vendor/svgl
	url = https://github.com/pheralb/svgl
[submodule "vendor/radix-ui-icons"]
	path = vendor/radix-ui-icons
	url = https://github.com/radix-ui/icons
[submodule "vendor/phosphor-icons"]
	path = vendor/phosphor-icons
	url = https://github.com/phosphor-icons/core
[submodule "vendor/heroicons"]
	path = vendor/heroicons
	url = https://github.com/tailwindlabs/heroicons
[submodule "vendor/octicons"]
	path = vendor/octicons
	url = https://github.com/primer/octicons
